
@{
    ViewBag.Title = "Nguyễn Văn Thạo-Index";
}

<h2>Nguyễn Văn Thạo-Index</h2>
<hr/>
<h3>Hiển thị dữ liệu lấy từ Action trong controller</h3>
<h4>FullName: @ViewBag.fullName</h4>
<h4>Ngày sinh: @ViewData["Birthday"]</h4>
<h4>Phone: @TempData["Phone"]</h4>

